// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme style header
//  _____________________________________________

//  Messages
@header-panel__background-color: @color-blue_dark7;
@header__background-color: @color-blue_dark7;
@header__color: @color-white;
@secondary__color: @color-blue_dark2;

//  icon
@img-icon__width1: 36px;
@img-icon__width2: 30px;

@path__image-icon: '@{baseDir}images/icon_header_link/user-blue@2x.png';
@icon__width: 23.25px;
@icon__height: 23.25px;
@icon__position: before;
@icon__text-hide: false;
@img-icon__margin-rigth: 8px;

@path__image-home-icon: '@{baseDir}images/nav_icon_link/home-icon@2x.png';
@nav-icon__width: 18px;
@nav-icon__height: 18px;
@nav-icon__position: before;
@nav-icon__text-hide: false;

@link-icon__margin-rigth: 26px;
@link-icon__margin-top: 13px;

// navigation
@navigation-level0-item__font-size: 15px;
@navigation-level0-item__font-weight: bold;
@navigation-level0-item__letter-spacing: 0;

//
//  Common
//  _____________________________________________

& when (@media-common =true) {

    // header top
    .top-links {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .page-header {
        .widget.block {
            .lib-css(margin, 0);
        }

        a {
            color: @header__color;
            font-weight: @font-weight__semibold;
            letter-spacing: 0;
            font-size: 13px;
            line-height: 25px;
            font-family: @font-family__Poppins-base;
        }
    }

    // header middle
    .header {
        &.links {
            margin: 0;
            list-style: none;
        }

        .links-icon {
            padding: 0;
            list-style: none;

            li {
                margin-top: 10px;

                img {
                    .lib-css(width, @img-icon__width2);
                    .lib-css(margin-right, @img-icon__margin-rigth);
                }
            }

            &:nth-child(2) {
                margin-right: 25px;
                margin-top: 7px;

                li {
                    img {
                        .lib-css(width, @img-icon__width1);
                        margin-right: 9px;
                    }
                }
            }
        }

        .authorization-link {
            .lib-icon-image(@_icon-image: @path__image-icon,
                @_icon-image-width: @icon__width,
                @_icon-image-height: @icon__height,
                @_icon-image-position: @icon__position,
                @_icon-image-text-hide: @icon__text-hide);

            &:before {
                background-size: @icon__width @icon__height;
            }

            a {
                line-height: 23px;
            }
        }
    }

    // navigatison
    .nav-image {
        .widget {
            &.block {
                span {
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
            }
        }

        a {
            .lib-icon-image(@_icon-image: @path__image-home-icon,
                @_icon-image-width: @nav-icon__width,
                @_icon-image-height: @nav-icon__height,
                @_icon-image-position: @nav-icon__position,
                @_icon-image-text-hide: @nav-icon__text-hide);

            &:before {
                background-size: @nav-icon__width @nav-icon__height;
            }

        }
    }

    .header-nav-links {

        li {
            a {
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 16px;
                color: @color-white;
            }
        }

        .authorization-link {
            .lib-icon-image(@_icon-image: @path__image-icon,
                @_icon-image-width: @icon__width,
                @_icon-image-height: @icon__height,
                @_icon-image-position: @icon__position,
                @_icon-image-text-hide: @icon__text-hide);

            &:before {
                background-size: @icon__width @icon__height;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

    .page-header {
        .header.panel:extend(.abs-add-clearfix-desktop all) {
            padding-bottom: 8px;
            padding-top: 10px;
        }
    }

    // header top
    .top-links {
        text-align: right;

        .links {
            margin: 3px 15px 3px 0;

            a {
                font-size: 12px;
                line-height: 12px;

                .fa-solid {
                    margin-right: 2px;
                }
            }

            &:last-child {
                margin: 0;
                margin-right: 0;
            }
        }
    }

    //header middle
    .header {
        &.links {
            display: inline-flex;
            float: right;

            ul {
                &>li {
                    display: inline-flex;
                    align-items: center;
                    margin: 0px;
                }
            }
        }

        .links-icon {
            .lib-css(margin-right, @link-icon__margin-rigth);
            .lib-css(margin-top, @link-icon__margin-top);

            &:first-child {
                margin-top: 10px;

                li {
                    img {
                        .lib-css(width, @img-icon__width1);
                        margin-right: 9px;
                    }
                }
            }
        }
    }

    // navigatison
    .nav-sections-item-content {
        .header {
            &.links {
                display: none;
            }
        }

        .header-top {
            display: none;
        }
    }

    .header {
        &.content:extend(.abs-add-clearfix-desktop all) {
            padding: 16px 19px 18px 18px;
        }

        .links-icon {
            .lib-css(margin-right, @link-icon__margin-rigth);
            .lib-css(margin-top, @link-icon__margin-top);

            li {
                margin-top: 10px;
            }

            &:nth-child(2) {
                margin-right: 25px;
                margin-top: 7px;
            }
        }

        .logo {
            margin: 0.8% 0;

            img {
                margin-left: 2px;
            }
        }

        .authorization-link {
            margin-bottom: 1px;
            padding-top: 13px;

            &:before {
                margin-right: 4px;
            }
        }
    }

    // navigatison
    .nav-sections {
        margin-bottom: 0;
    }

    .navigation {
        ul {
            padding: 16px 8px 6px;
        }

        .nav-image {
            margin-left: 3.8%;
            margin-right: 15px;
        }

        .level0 {
            margin-top: 2px;

            &>.level-top {
                .lib-css(font-size, @navigation-level0-item__font-size);
                .lib-css(font-weight, @navigation-level0-item__font-weight);
                .lib-css(letter-spacing, @navigation-level0-item__letter-spacing);
                font-family: @font-family__Poppins-base;
            }

            &:first-child {
                margin-top: 0;
            }

            &:nth-child(3) {
                margin: 0 20px;
            }

            &:nth-child(5) {
                margin-left: 20px;
                margin-right: 19px;
            }

            &:nth-child(7) {
                margin: 0 20px;
            }

            &:nth-child(9) {
                margin: 0 19px;
            }

            &:last-child {
                margin-left: 20px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .page-header {
        margin-bottom: 0;
    }

    // navigation
    .header {
        &.content:extend(.abs-add-clearfix all) {
            padding: 0 18px;
            padding-top: 16px;

            .links {
                display: none;
            }

            .nav-toggle {
                position: unset;
                float: left;

                &:before {
                    font-size: 18px;
                    line-height: 16px;
                }
            }

            .logo {
                margin: 0 18%;
            }
        }
    }

    .nav-sections-item-content {
        margin-top: 0;
        padding: 0;
    }

    .nav-sections {
        background: @color-white;
    }

    .navigation {
        background: @color-white;
        padding: 0 18px;

        .nav-image {
            display: none;
        }
    }

    .nav-sections-item-title {
        display: none;
    }

    .links-icon {
        .lib-icon-font(@next-brand-icon__font-content,
            @_icon-font: @next-brand-icon__font,
            @_icon-font-size: @next-brand-icon__font-size,
            @_icon-font-line-height: @next-brand-icon__line-height,
            @_icon-font-color: @color-white,
            @_icon-font-color-hover: @color-white,
            @_icon-font-color-active: @color-white,
            @_icon-font-position: @next-brand-icon__position);

        &:after {
            font-weight: 900;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .navigation {
        .level0 {
            border-top: 1px solid @color-white1;
            position: relative;

            &>.level-top {
                padding: 0;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 61px;

                .lib-icon-font(@next-brand-icon__font-content,
                    @_icon-font: @next-brand-icon__font,
                    @_icon-font-size: @next-brand-icon__font-size,
                    @_icon-font-line-height: @next-brand-icon__line-height,
                    @_icon-font-color: @next-brand-icon__color,
                    @_icon-font-color-hover: @next-brand-icon__color,
                    @_icon-font-color-active: @next-brand-icon__color,
                    @_icon-font-position: @next-brand-icon__position);

                &:after {
                    font-weight: 900;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 18px;
                }
            }
        }
    }

    .header-nav-links {
        background: @color-black1;
        box-sizing: border-box;
        padding: 0 18px;
        padding-top: 18px;

        .links-icon {
            margin: 0;
            padding: 5.2px 0;
            list-style: none;
            box-sizing: border-box;
            display: block;
            position: relative;

            li {
                margin: 0;
                display: inline-flex;
                align-items: center;

                img {
                    .lib-css(width, @img-icon__width2);
                    .lib-css(margin-right, 12px);
                }
            }

            &:nth-child(1) {
                li {
                    img {
                        .lib-css(width, @img-icon__width1);
                        margin-right: 7px;
                    }
                }
            }
        }
    }

    .header-top {
        margin-top: 13px;
        padding: 0 18px;
    }

    .top-links {
        .links {
            margin: 0;

            a {
                font-size: 15px;
                letter-spacing: 0;
                line-height: 42px;
                color: @color-black;
            }

            .fa-solid {
                font-size: 16px;
                letter-spacing: 0;
                line-height: 16px;
                color: @color-blue-dodger_light0;
                margin-right: 15px;
            }
        }
    }
}